/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #d4d4d4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
    background-color: #0c0c0c;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
}

/* SIDE */
.side{
    width: 35%;
    min-width: 300px;
    height: 100%;
    min-height: 680px;

    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* account bar */
.account-settings-bar,
.main-top-bar,
.main-bottom-bar{
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.user-info{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.user-info .avatar-img{
    height: 150%;
}

.user-info .avatar-img img{
    height: 100%;
    border-radius: 50%;
}

.side-settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
}

.side-settings i{
    font-size: 1.3rem;
    padding: 0 .5rem;
}

/* /account bar */

/* banner-notification */
.banner-notification{
    width: 100%;
    height: 8%;
    background-color: #9FD8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.icon-notification{
    background-color: rgb(65, 65, 65);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-notification i{
    color: #9FD8F8;

}

.text-notification p{
    color: #0c0c0c;
    padding-left: .5rem;
    font-size: 0.8rem;
}

.text-notification a{
    color: rgb(65, 65, 65);
    font-size: 0.7rem;
    padding-left: .5rem;
    text-decoration: underline;
}
/* /banner-notification */

/* search chat */
.search-chat{
    display: flex;
    height: 7%;
    padding: 0.5rem;
    width: 100%;
}

.search-chat .btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #d4d4d4;
}

.search-chat input{
    width: 80%;
    border: 0.5px solid #d4d4d4;
    padding-left: 1rem;
    color: #0c0c0c;

}
/* /search chat */

/* chat list */

.contacts-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

/* contact */
.contact{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    border-bottom: 0.5px solid #757575;
    border-top: 0.1px solid #757575;
    position: relative;
}

.contact:hover,
.clickedContact{
    background-color: #2d2d2d;
}


.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.contact .name-last-message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact .name{
    font-size: 1.3rem;
}

.contact .last-message{
    font-size: 0.8rem;
}

.contact .time{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.7rem;    
}

/* /contact */
/* /chat list */

/* /SIDE */

/* ------------------------------------------------------------ */

/* MAIN */
.main{
    width: 65%;
    min-width: 600px;
    min-height: 680px;
    background-color: rgb(28, 28, 28);
}

.main-top-bar,
.main-bottom-bar{
    background-color: rgb(65, 65, 65);
    border-left: 1px solid #0c0c0c;
    padding: 1em;
}

.account-main{
    display: flex;
    align-items: center;
}

.account-main .contact{
    padding: 0;
    border: 0;
}

.account-main .last-acces{
    font-size: 0.6rem;
}


.emoji-btn,
.mic-btn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 10%;
}

.write-bar{
    width: 80%;
    height: 150%;
    align-self: center;
    padding-left: 1rem;
    color: #0c0c0c;
}
/* chat */
.chat{
    width: 100%;
    height: 84%;
    background-image: url(../img/bg.jpeg);
    background-repeat: repeat;
    background-size: 40%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.container-messages{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.message{
    color: #0c0c0c;
    padding: 1rem;
    min-width: 30%;
    max-width: 60%;
    border-radius: 10px;
}

.recived{
    background-color: #efefef;
    align-self: flex-start;
}

.sent{
    background-color: #DCF8C0;
    align-self: flex-end;
}
/* /chat */


/* /MAIN */