<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- link style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- link fontawasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <!-- side -->
            <div class="side">
                <!-- user account bar -->
                <div class="account-settings-bar">
                    <div class="user-info">
                        <div class="avatar-img"><img src="img/avatar_io.jpg" alt="user img"></div>
                        <div class="username">Sofia</div>
                    </div>

                    <div class="side-settings">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                <!-- user account bar -->

                <!-- banner notification -->
                <div class="banner-notification">
                    <div class="icon-notification">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="text-notification">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a @click.prevent="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- banner notification -->

                <!-- search chat -->
                <div class="search-chat">
                    <div class="btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <input type="text" placeholder="Cerca o inizia una nuiova chat" v-model="searchingContact" @keyup="filterContacts">
                </div>
                <!-- /search chat -->

                <!-- chat list -->
                <div class="contacts-list">

                    <div class="contact"
                        v-for="(contact, index) in contacts"
                        @click="showClicked(index)"
                        :class="[indexMain === index ? 'clickedContact' : '']">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        <div class="name-last-message">
                            <div class="name">{{contact.name}}</div>
                            <div class="last-message">{{contact.messages[contact.messages.length - 1].message}}</div>
                        </div>
                        <div class="time">{{contact.messages[contact.messages.length - 1].date.substring(11, 16)}}</div>
                    </div>

                </div>
                <!-- /chat list -->

            </div>
            <!-- /side -->

            <!-- main -->
            <div class="main">

                <!-- top main -->
                <div class="main-top-bar">    
                    <div class="account-main">
                        <div class="contact">
                            <img :src="'img/avatar' + contacts[indexMain].avatar + '.jpg'" alt="">
                            <div class="name-last-message">
                                <div class="name">{{contacts[indexMain].name}}</div>
                                <div class="last-acces">Ultimo accesso {{contacts[indexMain].messages[contacts[indexMain].messages.length - 1].date.substring(0, 16)}}</div>
                            </div>
                        </div> 
                    </div>

                    <div class="side-settings">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /top main -->

                <!-- chat -->
                <div class="chat">
                    <div class="container-messages">
                        <div class="message"
                            v-for="message in contacts[indexMain].messages"
                            :class="message.status">
                            <div class="message-text">
                                {{message.message}}
                            </div>
                            <div class="message-time">
                                {{message.date.substring(11, 16)}}
                            </div>
                            <div class="message-settings">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- chat -->


                <!-- bottom main -->
                <div class="main-bottom-bar">
                    <div class="emoji-btn">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input class="write-bar" type="text" placeholder="Scirvi un messaggio" v-model.trim="newMessage.message" @keyup.enter="sendMessage">
                    <div class="mic-btn">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
                <!-- /bottom main -->

            </div>
            <!-- /main -->

        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>